/* intro block links -- download HTML/CSS */
.intro a, .intro a:visited {
    position: relative;
    display: inline-block;
    padding: 1px 10px 1px 32px;
    margin: -1px -10px -1px -6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  
    color: #809b7e;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
  }
  .intro a:hover, .intro a:focus {
    z-index: 2;
    color: #fff;
    background: #3d8a9f;
    text-decoration: none;
  }
  
  .intro a::before {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 8px;
    padding: 2px;
    color: #a9b995;
    background: #d9e1cd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
  
    content: "D";
    font-size: 16px;
    text-indent: 0;
  
  
    /* icomoon.io defaults */
    font-family: 'verdemoderna';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
    .intro a:hover::before {
      color: #fff;
      background: #357d93;
    }

@media only screen and (min-width: 1132px) {
    
    .intro h3, .supporting h3 {
        margin-top: 0;
    }

    .intro p:last-child, .supporting p:last-child {
    margin-bottom: 0;
    }
}